[submodule "webtools-bmo-bugzilla"]
	path = webtools-bmo-bugzilla
	url = http://github.com/mozilla/webtools-bmo-bugzilla.git
[submodule "gecko-dev"]
	path = gecko-dev
	url = https://github.com/mozilla/gecko-dev.git
[submodule "bedrock"]
	path = bedrock
	url = https://github.com/mozilla/bedrock.git
[submodule "dxr"]
	path = dxr
	url = https://github.com/mozilla/dxr.git
[submodule "pdf.js"]
	path = pdf.js
	url = https://github.com/mozilla/pdf.js.git
[submodule "B2G"]
	path = B2G
	url = https://github.com/mozilla-b2g/B2G.git
[submodule "gaia"]
	path = gaia
	url = https://github.com/mozilla-b2g/gaia.git
[submodule "firefox-ios"]
	path = firefox-ios
	url = https://github.com/mozilla/firefox-ios.git
